
.ipynb_checkpoints
*/.ipynb_checkpoints/*

__pycache__
*/__pycache__/*

lightning_logs
*/lightning_logs/*

# tensorboard training
runs
*/runs/*

# Data
snli_data
*/snli_data/*


# Mac DS_Store
.DS_Store
*/**/.DS_Store

# Py cache
*/__pycache__/
*/**/__pycache__/

# Idea
.idea
*/**/.idea

# Model checkpoint
**/*.pt
**/**/*.pt
